@import "_mixins";
.logo{
    @include uflex(flex, center, center);
    width: 100%;
}
.h2{
    font-family: montserrat;
    text-align: center;
    padding-top: 1.875rem;
}
.pimg{
    padding: 1.25rem;
    text-align: center;
    font-family: montserrat;
}
.contenedorp{
    @include uflex(flex, center, center);
}
.u-cart-count{
    background-color: $second-color;
}